.question {
    text-align: center;
}

.arrowStyling {
    display: flex;
    justify-content: space-between;
}

.right-arrow {
    background-image: url("../../assets/rightArrow.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.left-arrow {
    background-image: url("../../assets/leftArrow.png");
    background-repeat: no-repeat;
    background-position: center;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
}

.disabled {
    cursor: not-allowed;
    opacity: 0.5;
}

.backButton {
    position: relative;
    bottom: 4rem;
    right: 4rem;
}

/* @media  */