.flashcardsContainer {
    box-shadow: 2px 3px 23px rgb(0 0 0 / 30%);
     position: fixed;
     top: 50%;
     left: 50%;
     padding: 5rem;
     transform: translate(-50%, -50%);
     width: 80%;
}

.buttonContainer {
    display: flex;
    justify-content: center;

}

.subCategoryButton {
    margin-left: 2rem;
    white-space: nowrap;
}

.subCategoryTitle {
    align-self: center;
}

/* MOBILE LARGER PHONES */

@media screen and (min-width: 376px) and (max-width: 768px) {

}

/* MOBILE - small devices */

@media screen and (max-width: 375px) {
    .flashcardsContainer {
        width: 40%;
    }

    .buttonContainer {
        flex-direction: column;
        align-items: center;

    }

    .subCategoryButton {
        margin: 0.5rem;
        width: 200px;
    }

}